* {
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: navy;
}

.bg-green {
    background-color: green;
}

.bg-pink {
    background-color: hotpink;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 1 100%;
    max-width: 100%;
    min-height: 50px;
    border: 1px solid red;
    padding-left: 20px;
}

.col-75 {
    width: 75%;
    max-width: 75%;
}

.col-50 {
    width: 50%;
    max-width: 50%;
}

.col-25 {
    width: 25%;
    max-width: 25%;
}

@media screen and (max-width: 900px) {
    .col-50 {
        width: 100%;
        max-width: 100%;
    }
    .col-25 {
        width: 50%;
        max-width: 50%;
    }
    .third .col-25, .third .col-75 {
        width: 100%;
        max-width: 100%;
    }
    .third .col-25 {
        order: 1;
    }
}